/* Help block has less spacing between header elements and help content */
h3.help-header {
	margin-bottom: 0px;
}

h4.help-header {
	margin-bottom: 0px;
	font-weight: bold;
}

h4.help-header + .help-block {
	margin-top: 0px;
}

/* Loading spinner for kallisto submit */
#spinner-kal {
	margin-top: 20px;
}

/* Space out the tabbable */
.tabbable{
  margin-top: 10px;
}